// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .box{
// ã€€display: inline-flex;
//   width: 190px;
//   height: 250px;
//   background-color: White;
//   padding-top: 50px;
//   padding-bottom: 50px;
//   border: solid 2px black;
//   border-radius: 10px;
// }





